*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #454545;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.text-light {
  color: #ffffff;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

// -------- Section Title ---------- //

.section-title {
  color: #ffffff;
  display: inline-block;
  font-size: 9px;
  margin-top: 4em;
}

.section-title__top-text {
  font-family: "Dosis", sans-serif;
  font-size: 1.66em;
  font-weight: 300;
  margin: 0px;
  position: relative;
  text-align: center;
}

.section-title__top-text::before,
.section-title__top-text::after {
  content: "";
  display: inline-block;
  background: #ffffff;
  width: 13%;
  height: 1px;
  top: 60%;
  position: absolute;
}

.section-title__top-text::before {
  left: 0.5em;
}

.section-title__top-text::after {
  right: 0.5em;
}

.top-text--short:before,
.top-text--short:after {
  width: 28%;
}

.section-title__main-text {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 700;
  margin: 0.2em 0 0 0;
  padding-top: 0.04em;
  letter-spacing: 0.02em;
}

@include medium-scr-and-up {
  .section-title {
    font-size: 12px;
    margin-top: 5.4em;
  }
}

// ------- Section Header --------//

.section-header {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.section-header__frame {
  min-height: 140px;
  width: 100%;
  max-width: 1020px;
  border: 2px solid #f9fdfc;
  display: flex;
  justify-content: center;
}

@include medium-scr-and-up {
  .section-header {
    padding: 50px;
  }

  .section-header__frame {
    height: 200px;
  }
}
