.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  z-index: 2;
  width: 100%;
  -webkit-box-shadow: 0px -4px 5px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -4px 5px 7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px -4px 5px 7px rgba(0, 0, 0, 0.13);
}

.header__container {
  background: #ffff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}

.logo {
  width: 80px;
  height: 36px;
  margin-left: 11px;
}

.header__container--small {
  display: flex;
  align-items: center;
  height: 100%;
}

.s-media {
  display: flex;
  justify-content: space-between;
  width: 173px;
  margin: 0 28px;
  display: none;
}

.s-media__link > i {
  font-size: 27px;
  color: #101010;
  transition: 0.3s ease-out;
}

// -------- Navigation --------//

.navigation {
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
  width: 65px;
  height: 100%;
}

.navigation__btn {
  background: #101010;
  width: 15px;
  height: 1px;
  margin-left: 30px;
  position: relative;
}

.navigation__btn::before,
.navigation__btn::after {
  content: "";
  width: 15px;
  height: 1px;
  background: #101010;
  position: absolute;
}

.navigation__btn::before {
  top: -5px;
}

.navigation__btn::after {
  top: 5px;
}

.is-pressed {
  transform: rotateZ(45deg);
}

.is-pressed::before {
  display: none;
}

.is-pressed::after {
  transform: rotatez(90deg) translateX(-5px);
}

.navigation__text {
  font-weight: 300;
  color: #ffff;
  margin: 20px;
  text-transform: uppercase;
  display: none;
}

.navigation__list {
  position: absolute;
  z-index: -1;
  top: 47px;
  right: 0;
  list-style: none;
  background: #ffffff;
  padding: 0;
  width: 100vw;
  height: 70vh;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px -4px 5px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px -4px 5px 7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px -4px 5px 7px rgba(0, 0, 0, 0.13);
  transform: translateY(-100%);
  transition: 0.3s ease;
  opacity: 0;
}

.is-active {
  transform: translateY(0%);
  opacity: 1;
}

.navigation__item {
  display: block;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  color: #101010;
  display: block;
  text-transform: uppercase;
  padding: 20px;
}

@include phone {
  .header {
    height: 80px;
    background: linear-gradient(90deg, #ffff 50%, #101010 50%);
  }

  .logo {
    width: 100px;
    height: 45px;
  }

  .s-media {
    display: flex;
  }

  .s-media__link > i:hover {
    transform: scale(1.1);
    opacity: 0.6;
  }

  .navigation {
    background: #101010;
    width: 258px;
  }

  .navigation__btn {
    background: #ffff;
  }

  .navigation__btn::before,
  .navigation__btn::after {
    background: #ffff;
  }

  .navigation__text {
    display: initial;
  }

  .navigation__list {
    position: absolute;
    top: 60px;
    left: 0;
    width: auto;
    background: #101010;
    padding: 0;
    box-shadow: none;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .navigation__link {
    text-decoration: none;
    color: #ffff;
    display: block;
    text-transform: uppercase;
  }
}
