.section-header--portfolio {
  background-image: url(./img/portfolio-bg.jpg);
}

.container--portfolio {
  padding: 0;
  margin: 0 auto;
  max-width: 1660px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__link {
  width: 33.3%;
  position: relative;
  overflow: hidden;
}

.portfolio__link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @extend %transition-fast
}

.portfolio__link:before {
  background-image: url(./img/eye.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  opacity: 0;
  z-index: 1;
  @extend %transition-fast;
}

.portfolio__img {
  filter: grayscale(100%) opacity(60%);
  @extend %transition-fast;
}

.portfolio__link:hover::before {
  opacity: 1;
}

.portfolio__link:hover > .portfolio__img {
  filter: grayscale(0%) opacity(100%);
  transform: scale(1.4);
}

.portfolio__link:nth-child(n + 1) {
  display: none;
}

@include medium-scr-and-up {
  .portfolio__link {
    width: 25%;
  }

  .portfolio__link:nth-child(-n + 16) {
    display: block;
  }
}

@include large-scr-and-up {
  .portfolio__link {
    width: 14.285%;
  }

  .portfolio__link:nth-child(n) {
    display: block;
  }
}
